@import 'colors';
@import 'media-queries';

// Hero Section CSS
.hero {
    &__container {

        &--center-img{

            background: rgb(211,211,211, 0.5) url("./images/hero-mobile.webp") no-repeat;
                background-size: cover;
                width: 342px;
                height: 385.406px;
                flex-shrink: 0;

            @include tablet-desktop {
                background: rgb(211,211,211, 0.5) url("./images/hero_img.webp") no-repeat;
                background-size: cover;
                width: 1240.241px;
                height: 447.195px;
            }
            
        }

        &__center {

            position:absolute;
            width: 318px;
            z-index: 100;
            background-color: transparent;
            top: 356px;
            left: 9%; 
            
            @include tablet-desktop {
                width: 866px;
                flex-shrink: 0;
                top: 430px;
                left: 257px;
            }

            &__title {

                background-color: $bg-color;
                width: 318px;
                padding: 30px 30px 0px 30px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;
                
                @include tablet-desktop{
                    width: 650px;
                    padding: 60px 60px 0 60px;
                    display: inline-flex;
                    flex-direction: column;
                    gap: 36px;
                }

                & h1 {

                    font-size: 28px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 130%;
                    
                    @include tablet-desktop{
                        font-size: 48px;
                    }
                }

                & h2 {
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 160%; 
                  
                    @include tablet-desktop{
                        font-size: 24px;
                    }
                }
            }

            &__list {

                display: inline-flex;
                flex-direction: column;
                align-items: flex-start;
                margin: 31.27px 30px 0 30px;

                @include tablet-desktop {
                    flex-direction: row;
                    gap: 60px;
                    margin-top: 70px;
                    margin-left: 60px;
                }
    
                &__col{

                    &:first-child {
                        border-top: 2px solid $color-text;

                        @include tablet-desktop {
                            border-top: 0;
                        }
                    }
    
                    &--item {
    
                        &:first-child{
                            @include tablet-desktop{
                                border-top: 2px solid $color-text;
                            }
                        }

                        display: flex;
                        width: 246px;
                        padding: 16px 8px;
                        align-items: center;
                        gap: 12px;
                        border-bottom: 2px solid $color-text;

                        &:hover,
                        &:focus {
                            background-color: $color-text;
                            padding: 16px 8px 16px 44px;
                        }

                        @include tablet-desktop {
                            width: 373px;
                            padding: 18px 16px;
                            gap: 16px;

                            &:hover,
                            &:focus {
                                padding: 18px 16px 18px 68px;
                            }
                        }
        
                        & img{

                            width: 24px;
                            height: 24px;
                            flex-shrink: 0;

                            @include tablet-desktop {
                                width: 36px;
                                height: 36px;
                            }

                        }
        
                        & span.opt-label {

                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 160%;
                            color: $color-text;
                            

                            @include tablet-desktop {
                                font-size: 18px;
                            }

                        }

                        /*provisory mark-up solution for future ids */
                        & span.opt-label.opt-label-01.focused, 
                        & span.opt-label.opt-label-02.focused,
                        & span.opt-label.opt-label-03.focused,
                        & span.opt-label.opt-label-04.focused,
                        & span.opt-label.opt-label-05.focused,
                        & span.opt-label.opt-label-06.focused,
                        & span.opt-label.opt-label-07.focused, 
                        & span.opt-label.opt-label-08.focused{
                            color: $bg-color;
                            width: 158px;

                            @include tablet-desktop {
                                width: 237px;
                            }
                        }

                        & img.hovered {
                            order: 2;
                        }

                    }
    
                }

            }

        }

    }
}