@import 'colors';
@import 'media-queries';

%align-center {
    display: flex;
    align-items: center;
}

.navbar {
    color: $color-text;
    background-color: $bg-color;
    width: 100%;
    padding: 16px 20px 16px 24px;
    justify-content: space-between;
    z-index: 10;
    position: relative;
    @extend %align-center;

    @include tablet-desktop {
        height: 158px;
        padding: 48px 100px;
    }

    &__logo{
        
        & img {
            width: 100px;
            height: 18.218px;
            flex-shrink: 0;

            @include tablet-desktop {
                width: 200px;
                height: 36.437px;
            }
        }
    }

    &__actions{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 24px;

        &__btn{

            display: none;

            @include tablet-desktop {
                display: flex;
                padding: 15px 18px;
                align-items: center;
                gap: 12px;

                border-radius: 16px;
                border:0;
                background-color: $bg-color;

                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;

            }

            &__search--icon {

                @include tablet-desktop{

                   display: flex;
                   width: 24px;
                   height: 24px;
                   padding: 2px;
                   justify-content: center;
                   align-items: center;
                   
                   & img {
                    width: 20px;
                    height: 20px;
                    flex-shrink: 0;
                   }
                }
                
            }

        }

        &__btn-primary{
            display: inline-flex;
            padding: 4px;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;

            border-radius: 16px;

            &:active,
            &:focus {
                border: 2px solid $color-text;
            }

            @include tablet-desktop {
                border-radius: 20px;
            }

            &__menu{
                color: $bg-color;

                display: flex;
                padding: 10px 16px;
                align-items: center;
                gap: 8px;

                border-radius: 12px;
                background-color: $color-text;

                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;

                border: 0;

                &:active,
                &:focus {
                    background-color: $color-text;
                    color: $bg-color;
                }

                @include tablet-desktop {

                    padding: 15px 32px;
                    align-items: center;
                    gap: 12px;
                    font-size: 18px;

                    border-radius: 16px;

                    &:hover{
                        background-color: $bg-color;
                        color: $color-text;
                        border: 2px solid $color-text;
                    }

                }

                &--icon{
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    & img{
                        width: 24px;
                        height: 24px;

                        @include tablet-desktop {
                            width: 30px;
                            height: 30px;
                        }
                    }
                }


            }
        }

        &__btn-secondary{

            display: none;

            @include tablet-desktop {
                display: flex;
                padding: 4px;
                flex-direction: column;
                align-items: flex-start;
                gap: 8px;
                border-radius: 20px;

                &:hover,
                &:focus,
                &:active{
                    border: 2px solid $color-text;
                }
            }

            &__login{

                display: none;

                @include tablet-desktop {
                    display: flex;
                    padding: 15px 32px;
                    align-items: center;
                    gap: 12px;
                    border-radius: 16px;
                    border: 2px solid $color-text;

                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;

                    color: $color-text;
                    background-color: $bg-color;

                    &:hover{
                        background-color: $color-text;
                        color: $bg-color;
                        border: 0;
                    }

                    &:focus,
                    &:active{
                        background-color: $bg-color;
                        color: $color-text;
                        border: 2px solid $color-text;
                    }
                }

                &--icon {

                    @include tablet-desktop {
                        display: flex;
                        width: 24px;
                        height: 24px;
                        padding: 2px;
                        justify-content: center;
                        align-items: center;

                        & img{
                            width: 20px;
                            height: 20px;
                            flex-shrink: 0;
                        }
                    }

                }
    
            }
        }


    }
}