.navbar {
  display: flex;
  align-items: center;
}

.navbar {
  color: #301B0A;
  background-color: #FDF9EF;
  height: 158px;
  display: flex;
  justify-content: space-between;
  padding: 48px 100px;
  z-index: 10;
  position: relative;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .navbar {
    /*code here*/
  }
}
.navbar__logo {
  color: #301B0A;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}
.navbar__actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
}
.navbar__actions__btn {
  width: 180px;
  height: 62px;
  padding: 4px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.navbar__actions__btn__search {
  color: #301B0A;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 18px;
  background-color: transparent;
  border: 0;
  gap: 12px;
  width: 103px;
  height: 54px;
}
.navbar__actions__btn__search--icon img {
  width: 24px;
}
@media screen and (max-width: 390px) {
  .navbar__actions__btn__search {
    display: none;
  }
}
.navbar__actions__btn__login {
  color: #301B0A;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 30px;
  background-color: transparent;
  border: 2px solid #301B0A;
  border-radius: 16px;
  gap: 12px;
  width: 100%;
  height: 100%;
}
.navbar__actions__btn__login--icon img {
  width: 24px;
}
@media screen and (max-width: 390px) {
  .navbar__actions__btn__login {
    display: none;
  }
}
.navbar__actions__btn__menu {
  color: #FDF9EF;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 32px;
  background-color: #301B0A;
  border-radius: 16px;
  border-width: 0;
  gap: 12px;
  width: 100%;
  height: 100%;
}
.navbar__actions__btn__menu--icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar__actions__btn__menu--icon img {
  width: 30px;
  margin-left: 12px;
}

@media screen and (max-width: 390px) {
  .hero__container {
    /*code here */
  }
}
.hero__container--center-img {
  background: rgba(211, 211, 211, 0.5) url("./images/hero_img.png") no-repeat;
  background-size: cover;
  height: 447.195px;
}
.hero__container__center {
  width: 866px;
  flex-shrink: 0;
  background-color: transparent;
  position: absolute;
  top: 430px;
  left: 257px;
  z-index: 100;
}
.hero__container__center__title {
  width: 650px;
  height: 334px;
  background-color: #FDF9EF;
  padding: 60px 60px 0 60px;
  display: inline-flex;
  flex-direction: column;
  gap: 36px;
}
.hero__container__center__title h1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}
@media screen and (max-width: 390px) {
  .hero__container__center__title h1 {
    /*code here */
  }
}
.hero__container__center__title h4 {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}
@media screen and (max-width: 390px) {
  .hero__container__center__title h4 {
    /*code here */
  }
}
.hero__container__center__list {
  width: auto;
  height: auto;
  display: inline-flex;
  align-items: flex-start;
  gap: 60px;
  margin-top: 70px;
  margin-left: 60px;
}
.hero__container__center__list__col--item {
  display: flex;
  width: 373px;
  padding: 18px 16px;
  align-items: center;
  gap: 16px;
  border-bottom: 2px solid #301B0A;
}
.hero__container__center__list__col--item:first-child {
  border-top: 2px solid #301B0A;
}
.hero__container__center__list__col--item img {
  width: 36px;
}
.hero__container__center__list__col--item h6 {
  color: #301B0A;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}
@media screen and (max-width: 390px) {
  .hero__container__center__list {
    /*code here */
  }
}
@media screen and (max-width: 390px) {
  .hero__container__center {
    /*code here */
  }
}

.info-sections {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  margin-top: 629px;
  width: 100%;
}

.numbers {
  width: 100%;
}
.numbers__container {
  display: flex;
  align-items: flex-start;
  gap: 60px;
}
.numbers__container__box {
  padding: 48px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  background-color: #F6E7C3;
}
.numbers__container__box--item {
  width: 277px;
}
.numbers__container__box--item h1 {
  font-size: 74px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.numbers__container__box--item span {
  font-size: 20px;
}

.search {
  display: flex;
  padding: 100px 217px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  background-color: #D0E0AF;
  width: 100%;
}
.search__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
}
.search__container--description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.search__container--description h3 {
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}
.search__container--description p {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}
.search__container__search {
  display: flex;
  width: 806px;
  padding: 8px 8px 8px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 19px;
}
.search__container__search__wrapper {
  display: flex;
  width: 806px;
  padding: 8px 8px 8px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 19px;
  border: 2px solid #301B0A;
  background: #FDF9EF;
}
.search__container__search__wrapper__input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.search__container__search__wrapper__input input {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  background-color: transparent;
  border: none;
}
.search__container__search__wrapper__input__button {
  display: flex;
  padding: 4px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 20px;
}
.search__container__search__wrapper__input button {
  display: flex;
  padding: 15px 32px;
  align-items: center;
  gap: 12px;
  border-radius: 16px;
  background-color: #301B0A;
  color: #FDF9EF;
  border: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.wood {
  width: 100%;
}
.wood__container {
  display: flex;
  align-items: center;
  gap: -157px;
}
.wood__container figure {
  width: 590px;
  height: 590px;
  flex-shrink: 0;
  background: rgba(211, 211, 211, 0.5) url("./images/wood.png") no-repeat;
  background-size: cover;
}
.wood__container--box {
  display: flex;
  padding: 80px 120px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  background-color: #F6E7C3;
}
.wood__container--box h3 {
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  width: 567px;
}
.wood__container--box p {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  width: 450px;
  color: #301B0A;
}
.wood__container--box a img {
  width: 48px;
}

.info01 {
  width: 100%;
}
.info01__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.info01__container__box {
  display: flex;
  padding: 60px;
  align-items: flex-start;
  gap: 60px;
  background-color: #D0E0AF;
}
.info01__container__box h4 {
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  width: 421px;
}
.info01__container__box--desc {
  display: flex;
  align-items: center;
  gap: 109px;
}
.info01__container__box--desc p {
  width: 482px;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}
.info01__container__box--desc img {
  width: 48px;
  height: 48px;
}

.info02 {
  width: 100%;
}
.info02__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
}
.info02__container__wr {
  display: flex;
  align-items: flex-start;
  gap: 36px;
}
.info02__container__wr__box {
  display: flex;
  width: 390px;
  height: 713px;
  padding: 36px;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
  background-color: #F6E7C3;
}
.info02__container__wr__box__desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.info02__container__wr__box__desc--column {
  display: flex;
  width: 298.14px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.info02__container__wr__box__desc--column h5 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  text-transform: uppercase;
}
.info02__container__wr__box__desc--column h4 {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}
.info02__container__wr__box__desc p {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.info02__container__wr__box__desc img {
  width: 40px;
  height: 40px;
}
.info02__container__wr__box figure {
  width: 318px;
  height: 220px;
}
.info02__container__wr__box .fig01 {
  background: rgba(211, 211, 211, 0.5) url("./images/pic01.png") no-repeat;
  background-size: cover;
}
.info02__container__wr__box .fig02 {
  background: rgba(211, 211, 211, 0.5) url("./images/pic02.png") no-repeat;
  background-size: cover;
}
.info02__container__wr__box .fig03 {
  background: rgba(211, 211, 211, 0.5) url("./images/pic03.png") no-repeat;
  background-size: cover;
}
.info02__container--btn {
  display: flex;
  padding: 4px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 20px;
}
.info02__container--btn button {
  display: flex;
  padding: 16px 32px;
  align-items: center;
  gap: 8px;
  border-radius: 16px;
  border: 2px solid #301B0A;
  background-color: transparent;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #301B0A;
}
.info02__container h3 {
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.info03 {
  width: 100%;
}
.info03__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
}
.info03__container__wr {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.info03__container__wr__box {
  display: flex;
  align-items: center;
  gap: -2px;
  background-color: #D0E0AF;
}
.info03__container__wr__box__box01 {
  display: flex;
  padding: 60px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}
.info03__container__wr__box__box01 p {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  width: 371.916px;
}
.info03__container__wr__box__box01 span {
  display: flex;
  padding: 8px 16px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 8px;
  background-color: #301B0A;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  color: #FDF9EF;
}
.info03__container__wr__box__box02 {
  width: 592px;
  display: flex;
  padding: 60px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.info03__container__wr__box__box02 p {
  width: 472px;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}
.info03__container__wr__box__box02__local-date {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.info03__container__wr__box__box02__local-date .local-date-wr {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}
.info03__container__wr__box__box02__local-date .local-date-wr img {
  width: 24px;
  height: 24px;
}
.info03__container__wr__box__box02__local-date .local-date-wr p {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.info03__container__wr__box__box02__local-date .local-date-wr .local, .info03__container__wr__box__box02__local-date .local-date-wr .date {
  width: 324.523px;
}
.info03__container__wr__box__box02__local-date .local-date-wr .time {
  width: 374px;
}
.info03__container__wr__box__box03 {
  display: flex;
  padding: 60px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}
.info03__container__wr__box__box03 img {
  width: 40px;
}
.info03__container h3 {
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}
.info03__container--btn {
  display: flex;
  padding: 4px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.info03__container--btn button {
  display: flex;
  padding: 16px 32px;
  align-items: center;
  gap: 8px;
  border-radius: 16px;
  border: 2px solid #301B0A;
  color: #301B0A;
  background-color: transparent;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footer__logo img {
  width: 150px;
  height: 27.328px;
}

.footer__data {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}
.footer__data__address-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.footer__data__address-contact h6 {
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  width: 300px;
}
.footer__data__address-contact__wr {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.footer__data__address-contact__wr p {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  width: 300px;
}
.footer__data__address-contact__wr__social {
  display: flex;
  padding-left: 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.footer__data__address-contact__wr__social--md {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer__copyright {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.footer__copyright__link a {
  text-decoration: none;
  color: #301B0A;
}

.menu-popup {
  background-color: #D0E0AF;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Albert Sans", sans-serif;
}

body {
  background-color: #FDF9EF;
  color: #301B0A;
}

main {
  padding: 0 100px;
}

footer {
  display: flex;
  width: 1440px;
  padding: 120px 100px;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
}/*# sourceMappingURL=styles.css.map */