@import 'navbar';
@import 'hero';
@import 'info-sections';
@import 'footer';
@import 'menu';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Albert Sans', sans-serif;
}

body {
    background-color: $bg-color;
    color: $color-text;
}

main{
    padding: 0 100px;
}

footer{
    display: flex;
    width: 1440px;
    padding: 120px 100px;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
}




